.currentLang {
  font-weight: 600;
  color: var(--text-offwhite);
  cursor: pointer;
}

.languageText {
  font-weight: 400;
  color: var(--light-text-offwhite);
  cursor: pointer;
}

.portfolioSection {
  max-width: 860px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: content-box;
}
