.mainSubtitle {
  font-size: 2.5rem;
  padding: 0 3.5rem 4rem 3.5rem;
}

@media (max-width: 768px) {
  .mainSubtitle {
    padding: 0 1.725rem 2rem 1.725rem;
  }
}

@media (max-width: 325px) {
  .mainSubtitle {
    font-size: 2rem;
  }
}
