.workSection {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 7.5rem;
  margin-top: 2rem;
}

.workSection img {
  cursor: pointer;
}

.imageContainer {
  position: relative;
}

.hoverContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 500px) {
  .workSection {
    grid-template-columns: inherit;
  }
}
