.text {
  color: var(--background-end-rgb);
}

.section {
  font-size: 1.875rem;
  display: flex;
  gap: 4rem;
}

.me {
  min-width: 336px;
  display: flex;
  gap: 4rem;
}

.me img {
  min-width: 336px;
  max-height: 447px;
}

.about p {
  word-wrap: break-word;
}

.about p > span {
  display: block;
}

@media (max-width: 1228px) {
  .section {
    font-size: 1.5rem;
  }
  .me {
    min-width: 336px;
    display: flex;
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  .section {
    font-size: 1rem;
  }

  .me {
    height: 180px;
    display: block;
  }
  .me img {
    width: 130px;
    max-width: 130px;
    min-width: 130px;
    float: left;
    margin-right: 0.625rem;
  }
}
