.workSection {
  margin: 0 auto;
  margin-top: 2rem;
}

.workSection img {
  cursor: pointer;
}

.plus {
  display: none;
}

.imageContainer {
  position: absolute;
}

.image1 {
  top: 216px;
  left: 255px;
}

.image1 img {
  object-fit: none;
  height: 460px;
}

/* .image2 img {
  object-fit: none;
  height: 375px;
} */

.image4 img {
  height: 447px;
}

.image7 img {
  width: 581px;
  height: 413px;
}

.image8 img {
  width: 593px;
  height: 421px;
}

.image2 {
  top: 257px;
  left: 891px;
}

.image3 {
  top: 934px;
  left: 255px;
}
.image4 {
  top: 807px;
  left: 794px;
}
.image5 {
  top: 771px;
  left: 1332px;
}
.image6 {
  top: 1264px;
  left: 510px;
}

.image7 {
  top: 1294px;
  left: 794px;
}
.image8 {
  top: 1776px;
  left: 255px;
}
.image9 {
  top: 1776px;
  left: 1159px;
}

.hoverContainer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 1.5rem 2.625rem 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  height: 100%;
  cursor: pointer;
}

.revertTransform {
  transform: rotate(-90deg);
  right: 9.5rem;
  left: 0;
  cursor: pointer;
}

.hoverOpacity {
  opacity: 0.1;
}

@media (min-width: 2150px) {
  .image2 {
    left: 792px;
  }

  .image5 {
    top: 216px;
    left: 1632px;
  }

  .image6 {
    left: 410px;
  }

  .image7 {
    left: 1280px;
    top: 882px;
  }

  .image4 {
    left: 694px;
    top: 707px;
  }
  .image1,
  .image3 {
    left: 100px;
  }
  .image8 {
    left: 1000px;
    top: 1500px;
  }
}

@media (max-width: 1845px) {
  .image2 {
    left: 792px;
  }

  .image5 {
    left: 1232px;
  }

  .image6 {
    left: 410px;
  }

  .image7 {
    left: 694px;
  }

  .image4 {
    left: 694px;
    top: 707px;
  }
  .image1,
  .image3,
  .image8 {
    left: 100px;
  }
}

@media (max-width: 1550px) {
  /* .workSection {
    grid-template-columns: inherit;
  } */
  .image1 img {
    object-fit: cover;
  }

  .image3 {
    top: 750px;
  }

  .image4 {
    left: 594px;
    top: 757px;
  }
  .image5 {
    left: 1032px;
  }

  .image6 {
    top: 1064px;
    left: 300px;
  }

  .image9 {
    left: 1000px;
  }
}

@media (max-width: 1432px) {
  .image2 {
    left: 792px;
  }
  .image6 {
    top: 1664px;
    left: 510px;
  }

  .image5 {
    left: 200px;
    top: 1194px;
  }

  .image7 {
    top: 1294px;
    left: 794px;
  }
  .image8 {
    top: 2176px;
    left: 255px;
  }
  .image9 {
    top: 1776px;
    left: 859px;
  }
  .image1,
  .image3,
  .image8 {
    left: 32px;
  }
}

@media (max-width: 1394px) {
  .image2 {
    left: 792px;
  }
  .image6 {
    top: 1294px;
    left: 710px;
  }

  .image5 {
    left: 200px;
    top: 1194px;
  }

  .image7 {
    top: 1664px;
    left: 64px;
  }
  .image8 {
    top: 2176px;
    left: 255px;
  }
  .image9 {
    top: 1876px;
    left: 859px;
  }
  .image1,
  .image3 {
    left: 32px;
  }
  .image8 {
    left: 82px;
  }
}

@media (max-width: 1300px) {
  .image1,
  .image3,
  .image5,
  .image7,
  .image9 {
    left: 32px;
  }
  .image2,
  .image4,
  .image6,
  .image8 {
    left: 80px;
  }

  .image2 {
    top: 700px;
  }
  .image3 {
    top: 1150px;
  }
  .image4 {
    top: 1500px;
  }
  .image5 {
    top: 2200px;
  }
  .image6 {
    top: 2700px;
  }
  .image7 {
    top: 3300px;
  }
  .image8 {
    top: 3900px;
  }
  .image9 {
    top: 4400px;
  }
}

@media (max-width: 1146px) {
  .image1 {
    top: 300px;
  }
  .image2 {
    top: 800px;
  }
  .image3 {
    top: 1250px;
  }
  .image4 {
    top: 1600px;
  }
  .image5 {
    top: 2300px;
  }
  .image6 {
    top: 2800px;
  }
  .image7 {
    top: 3400px;
  }
  .image8 {
    top: 4000px;
  }
  .image9 {
    top: 4500px;
  }
}

@media (max-width: 768px) {
  .hoverContainer {
    display: none;
  }
  .plus {
    display: inline;
    position: absolute;
  }
  .image1 {
    top: 200px;
  }
  .imageContainer {
    padding: 1.725rem;
    left: 0;
    width: 100%;
  }
}
