.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
}

.txtTouch {
  font-size: 6.25rem;
  margin-bottom: 2.625rem;
}

.brac {
  color: #00000061;
}

.heart {
  margin: 0 4rem;
  opacity: 0;
}

.contactMail {
  font-size: 4rem;
  width: 100%;
  text-decoration: underline;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}

.contactMail:hover {
  background-color: #a3b4ff !important;
  color: var(--dark-purple) !important;
}

.innerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.littleStar {
  position: absolute;
  opacity: 0; /* Hide elements initially */
}

.littleContact {
  position: absolute;
  opacity: 0; /* Hide elements initially */
}

.mainSection {
  width: 100%;
  flex-direction: row;
}

.mainSection a {
  flex: 1;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}

@keyframes fill-background {
  0% {
    background-position: left bottom; /* Starts at the bottom right */
  }
  100% {
    background-position: right top; /* Fills bottom to top at the end */
  }
}

.mainSection a:nth-child(1):hover {
  background: var(--light-orange);
  color: var(--dark-red);
}
.mainSection a:nth-child(2):hover {
  background: var(--light-green);
  color: var(--dark-green);
}
.mainSection a:nth-child(3):hover {
  background: var(--light-pink);
  color: var(--dark-red);
}

@keyframes leftRight {
  0%,
  100% {
    transform: translate3d(-10px, 0, 0); /* Move left */
  }
  50% {
    transform: translate3d(10px, 0, 0); /* Move right */
  }
}

@media (max-width: 1386px) {
  .txtTouch {
    font-size: 5rem;
  }
}

@media (max-width: 1200px) {
  .littleContact {
    display: none;
    opacity: 0;
  }
  .littleStar {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 1146px) {
  .txtTouch {
    font-size: 3.5rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .heart {
    margin: 0 2rem;
    opacity: 0;
  }
  .littleContact {
    display: none;
    opacity: 0;
  }
  .littleStar {
    display: none;
    opacity: 0;
  }
  .contactMail {
    font-size: 2rem;
    min-height: 6rem;
  }

  .mainSection {
    flex-direction: column;
  }
  .mainSection a {
    font-size: 2rem;
    min-height: auto;
    display: flex;
    padding-bottom: 2rem;
  }
}
@media (max-width: 490px) {
  .heart {
    margin: 0 1rem;
    opacity: 0;
  }
}
