.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.txtTouch {
  font-size: 6.25rem;
  margin-bottom: 2.625rem;
}

.brac {
  color: var(--light-yellow);
}

.heart {
  margin: 0 4rem;
}

.contactMail {
  font-size: 4rem;
}

@media (max-width: 1386px) {
  .txtTouch {
    font-size: 5rem;
  }
}

@media (max-width: 1146px) {
  .txtTouch {
    font-size: 3.5rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .heart {
    margin: 0 2rem;
  }
  .contactMail {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 490px) {
  .heart {
    margin: 0 1rem;
  }
}
