.title {
  font-size: 4rem;
  cursor: pointer;
}

.subtitleDivider {
  margin: 0 0.25em;
}

.soon {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  font-size: 2.5rem;
}

.titleRosa {
  font-weight: 700;
}

.mainSubtitle {
  font-size: 2.5rem;
  padding: 0 3.5rem 4rem 3.5rem;
}

.firstRow,
.secondRow {
  display: block;
}

.mainSection {
  width: 100%;
  flex-direction: row;
}

.mainSection a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
  font-weight: 700;
}

@media (max-width: 768px) {
  .mainSubtitle {
    padding: 0 1.725rem 2rem 1.725rem;
  }

  .title {
    font-size: 3.725rem;
  }

  .soon {
    font-size: 1.625rem;
  }

  .mainSection a {
    font-size: 2rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    min-height: 312px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
  }
}

@media (max-width: 376px) {
  .title {
    font-size: 3.225rem;
    margin-top: 0.325rem;
  }
}

@media (max-width: 325px) {
  .mainSubtitle {
    font-size: 2rem;
  }

  .title {
    font-size: 3rem;
  }
}
